body {
font-family: Arial, sans-serif;
text-align: center;
background-color: #fdf6ef;
margin: 0;
padding: 0;
}

h1 {
font-family: 'Times New Roman', Times, serif;
color: #e74c3c;
margin-top: 0px;
font-size: 78px;
text-align: center;
}

.menu {
display: flex;
flex-direction: column;
gap: 20px;
padding: 40px;
}

.item {
font-family: 'Times New Roman', Times, serif;
padding: 15px;
background-color: #478050;
border-radius: 10px;
cursor: pointer;
transition: background 0.3s;
font-size: 42px;
font-weight: bold;
color: #ffffff;
margin-bottom: 12px;
text-align: center;
cursor: pointer;
}

.item:hover {
background-color: #cb4126;
}

.popup {
position: fixed;
top: 0; left: 0; right: 0; bottom: 0;
background: rgb(0, 0, 0);
display: none;
justify-content: center;
align-items: center;
}

.popup img {
max-width: 90%;
border-radius: 12px;
}

.categorie {
font-family: 'roboto', serif;
font-weight: 900;
font-size: 48px;
color: rgb(53, 53, 53);
background-color: #f9d59b;
border: 2px solid #f9d59b;
border-radius: 10px;
padding: 15px;
margin: 35px auto;
width: 90%;
text-align: center;
cursor: pointer;
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.liste {
max-height: 0;
overflow: hidden;
transition: max-height 0.3s ease-out;
margin-bottom: 20px;
}

.liste.open {
max-height: unset;
}

.ingredients {
font-size: 16px;
color: #000;
margin-top: 6px;
font-weight: normal;
text-align: center;
}

.logo {
display: block;
margin: 10px auto 5px auto;
width: 120px; 
height: auto;
}
