body {
font-family: Arial, sans-serif;
text-align: center;
background-color: #000000;
}

h1 {
color: #e74c3c;
margin-top: 30px;
  font-size: 68px;
}

.menu {
display: flex;
flex-direction: column;
gap: 20px;
padding: 40px;
}

.item {
padding: 15px;
background-color: #f8b400;
border-radius: 10px;
cursor: pointer;
transition: background 0.3s;
font-size: 48px;
font-weight: bold;
}

.item:hover {
background-color: #f39c12;
}

.popup {
position: fixed;
top: 0; left: 0; right: 0; bottom: 0;
background: rgba(0,0,0,0.8);
display: none;
justify-content: center;
align-items: center;
}

.popup img {
max-width: 90%;
border-radius: 12px;
}
