body {
font-family: Arial, sans-serif;
text-align: center;
background-color: #fff8f0;
}

h1 {
font-family: 'Times New Roman', Times, serif;
color: #e74c3c;
margin-top: 30px;
font-size: 68px;
}

.menu {
display: flex;
flex-direction: column;
gap: 20px;
padding: 40px;
}

.item {
padding: 15px;
background-color: #f39c12;
border-radius: 10px;
cursor: pointer;
transition: background 0.3s;
font-size: 42px;
font-weight: bold;
color: #000000;
}

.item:hover {
background-color: #cb4126;
}

.popup {
position: fixed;
top: 0; left: 0; right: 0; bottom: 0;
background: rgb(0, 0, 0);
display: none;
justify-content: center;
align-items: center;
}

.popup img {
max-width: 90%;
border-radius: 12px;
}

.categorie {
font-weight: bold;
font-size: 48px;
color: gray; /* Couleur intérieure du texte */
text-align: center;
margin-top: 20px;
cursor: pointer;

/* Effet de contour autour du texte */
text-shadow:
-1px -1px 0 black,
1px -1px 0 black,
-1px 1px 0 black,
1px 1px 0 black;
}
